<div class="movie_card" id="bright">
    <div class="info_section">
        <div class="movie_header">
            <h1>Bright</h1>
            <h4>2017, David Ayer</h4>
            <span class="minutes">117 min</span>
            <p class="type">Action, Crime, Fantasy</p>
        </div>

        <div class="movie_social">
            <ul>
                <li><i class="material-icons">share</i></li>
                <li><i class="material-icons"></i></li>
                <li><i class="material-icons">chat_bubble</i></li>
            </ul>
        </div>
    </div>
    <div class="blur_back bright_back"></div>
</div>