<%- include('../components/header'); -%>
  <main>
    <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center">
      <div class="container">
        <% if(token) { %>
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>JWT Demo <span>Movie APP</span> </h2>
              <p>This app about the basic CRUD operation using JWT and PostgreSql, User can login/register here and
                allowed
                to post, read, edit, delete contents</p>
              <a href="/add" class="btn-get-started">Add New Movie</a>
            </div>
          </div>
          <br />
          <%- include('../components/movieList'); -%>
            <% } else { %>
              <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                  <h2>JWT Demo <span>Movie APP</span> </h2>
                  <p>This app about the basic CRUD operation using JWT and PostgreSql, User can login/register here and
                    allowed
                    to post, read, edit, delete contents</p>
                  <a href="login" class="btn-get-started">Login</a>
                  <a href="register" class="btn-get-started">Register</a>
                </div>
              </div>
    </section>
    <% } %>
      </div>
  </main>
  <%- include('../components/footer'); -%>