<%- include('../components/header'); -%>

<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Welcome to <span>JWT Demo</span></h2>
          <p>This app about the basic CRUD operation using JWT and PostgreSql, User can login/register here and allowed to post, read, edit, delete contents</p>
          <a href="login" class="btn-get-started">Login</a>
          <a href="register" class="btn-get-started">Register</a>
        </div>
      </div>
    </div>
  </section>

  <main id="main" style="min-height: 300px;">

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
        </div>

      </div>
    </section><!-- End Gallery Section -->

  </main><!-- End #main -->


<%- include('../components/footer'); -%>