<%- include('../components/header'); -%>
    <section id="contact" class="contact">
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-lg-6">
                    <form action="" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required="" />
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Password" required="" />
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        const form = document.querySelector('form')
        form.addEventListener('submit', async (evt) => {
            evt.preventDefault()
            const { email: { value: email }, password: { value: password } } = form
            try {
                const loginResp = await fetch('auth/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email, password })
                })
                const { status, message } = await loginResp.json()
                if(status === 404 || status === 401){
                    toggleToast({ show: true, message })
                }

            } catch (error) {
                console.log({ error })
            }
        })
    </script>
    <%- include('../components/footer'); -%>