<%- include('../components/header'); -%>
    <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-6 text-center" style="min-height: 60vh;">
                    <h2>Your are not <span>authorized</span> <br />or <br /> Your token must been <span>expired</span></h2>
                    <p>We are sorry, currently we are allowing to access only for registered user.</p>
                    <a href="login" class="btn-get-started">Login</a>
                    <a href="register" class="btn-get-started">Register</a>
                </div>
            </div>
        </div>
    </section>
    
    <%- include('../components/footer'); -%>